* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 16rem;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

@media (max-width: 1270px) {
  .col-left {
    width: 13rem !important;
  }
}

.col-left ul {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.col-left ul .btn:hover {
  background-color: #cdd8d8a6;
  cursor: pointer;
}

.col-left ul .btn {
  list-style: none;
  height: 90px;
  width: 17rem;
  color: #050505;
  background-color: #e8eaea;
  font-size: .9rem;
  position: relative;
  -webkit-box-shadow: 0 5px 10px #777;
          box-shadow: 0 5px 10px #777;
}

.col-left ul .btn a {
  text-decoration: none;
  color: #050505;
}

.col-left ul .btn a span {
  position: absolute;
  top: 3.5rem;
  width: 100%;
  text-align: center;
}

.col-left ul .btn a .inventory::before, .col-left ul .btn a .barcode::before, .col-left ul .btn a .manage-purchase::before, .col-left ul .btn a .return-purchases::before, .col-left ul .btn a .suppliers-management::before, .col-left ul .btn a .query-screen::before, .col-left ul .btn a .manage-sales-invoices::before, .col-left ul .btn a .customer-management::before, .col-left ul .btn a .return-sales::before, .col-left ul .btn a .manage-expenses::before, .col-left ul .btn a .cash::before, .col-left ul .btn a .notes-alert::before, .col-left ul .btn a .employee-management::before, .col-left ul .btn a .general-system::before {
  content: '';
  width: 3rem;
  height: 3rem;
  background-size: cover;
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.col-left ul .btn a .inventory::before {
  background-image: url("../imgs/inventory.png");
}

.col-left ul .btn a .barcode::before {
  background-image: url("../imgs/barcode.png");
}

.col-left ul .btn a .manage-purchase::before {
  background-image: url("../imgs/manage-purchase.png");
}

.col-left ul .btn a .return-purchases::before {
  background-image: url("../imgs/return-purchases.png");
}

.col-left ul .btn a .suppliers-management::before {
  background-image: url("../imgs/suppliers-management.png");
}

.col-left ul .btn a .query-screen::before {
  background-image: url("../imgs/query-screen.png");
}

.col-left ul .btn a .manage-sales-invoices::before {
  background-image: url("../imgs/manage-sales-invoices.png");
}

.col-left ul .btn a .customer-management::before {
  background-image: url("../imgs/customer-management.png");
}

.col-left ul .btn a .return-sales::before {
  background-image: url("../imgs/return-sales.png");
}

.col-left ul .btn a .manage-expenses::before {
  background-image: url("../imgs/manage-expenses.png");
}

.col-left ul .btn a .cash::before {
  background-image: url("../imgs/cash.png");
}

.col-left ul .btn a .notes-alert::before {
  background-image: url("../imgs/notes-alert.png");
}

.col-left ul .btn a .employee-management::before {
  background-image: url("../imgs/customer-management.png");
}

.col-left ul .btn a .general-system::before {
  background-image: url("../imgs/general-system.png");
}

.col-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 16rem;
  height: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e8eaea;
  overflow-x: hidden;
}

.col-right .company-name h1 {
  margin: 20px;
  font-family: monospace;
}

.col-right .version {
  font-size: .7rem;
  font-weight: 900;
  margin: 10px;
}

.col-right ul .btn:hover {
  background-color: #cdd8d8a6;
  cursor: pointer;
}

.col-right ul .btn {
  list-style: none;
  height: 90px;
  width: 16rem;
  color: #050505;
  background-color: #e8eaea;
  font-size: .9rem;
  position: relative;
  -webkit-box-shadow: 0 0px 5px #777;
          box-shadow: 0 0px 5px #777;
}

.col-right ul .btn a {
  text-decoration: none;
  color: #050505;
}

.col-right ul .btn a span {
  position: absolute;
  top: 3.5rem;
  width: 100%;
  text-align: center;
}

.col-right ul .btn a .system-update::before, .col-right ul .btn a .about::before, .col-right ul .btn a .support-help-center::before, .col-right ul .btn a .license-information::before {
  content: '';
  width: 3rem;
  height: 3rem;
  background-size: cover;
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.col-right ul .btn a .system-update::before {
  background-image: url("../imgs/system-update.png");
  background-size: contain !important;
  background-repeat: no-repeat;
}

.col-right ul .btn a .about::before {
  background-image: url("../imgs/about.png");
}

.col-right ul .btn a .support-help-center::before {
  background-image: url("../imgs/support-help-center.png");
}

.col-right ul .btn a .license-information::before {
  background-image: url("../imgs/license-information.png");
}
/*# sourceMappingURL=style.css.map */